/* ==================================Register */
.forgotpass{
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffdee9;
    background-image: linear-gradient(0deg , #ffdee9 0% , #b5fffc 100%);
  }
  .forgotpass form {
    box-shadow: rgba(0, 0, 0, 35)0px 5px 15px;
    padding: 20px;
    background-color: white;
    height: 400px;
  }

  .forgotpass form .password{
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  .forgotpass form .email{
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
  }
  .forgotpass input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
  .forgotpass form button{
   border: 1px solid black;
   border-radius: 0;
   color: white;
   width: 300px;
   background-color: black;
   margin-top: 30px;
  }
  .forgotpass form button:hover{
    border: 1px solid black;
    background-color: #000;
    background:linear-gradient(
      to right,
      #434343,
      #000
    );
    
  }
  .forgotpass form h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 30px
  }
  /* ==================================Login */